nav.navbar{
    background-color: white;
}

body{
    background-color: lightgray;
}

.card{
    margin-top: 10px;
    margin-bottom: 10px;
}

#listbehaviors i, #user, #form, #settings{
    color: lightgray;
}

#listbehaviors i:hover, #user:hover, #form:hover, #settings:hover{
    color: gray;
}
